.container {
 align-items: flex-start; /* 1. Vertically center content */
  display: flex;
  justify-content: flex-start; /* 2. Horizontally center content */
  height: 100vh;
  width: 70vh;
  background-color: rgb(199, 153, 153);
  flex-direction: column;
  gap: 8px;
  padding-top: 20px;
  
  
}





