html {
  box-sizing: border-box;
  height: 100%;
}
:root {
  --primary-font: 'Inter', sans-serif;
  --nav-bg: linear-gradient(180deg, #0f2027, #203a43, #2c5364);
  --text-light: #f7f7f7;
  --hover: rgba(255, 255, 255, 0.12);
}


body {
  width:100%;
  min-height:100vh;
  margin: 0px;
  
}
.layout {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
}
