name: Deploy to EC2

on:
  push:
    branches: [ "main" ]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Create .env.production
      run: |
        echo "VITE_API_URL=${{ vars.VITE_API_URL }}" >> frontend/.env.production
        echo "VITE_PUBLIC_KEY=${{ vars.VITE_PUBLIC_KEY }}" >> frontend/.env.production
        echo "VITE_SERVICE_ID=${{ vars.VITE_SERVICE_ID }}" >> frontend/.env.production
        echo "VITE_TEMPLATE_ID_GENERIC=${{ vars.VITE_TEMPLATE_ID_GENERIC }}" >> frontend/.env.production
        echo "VITE_TEMPLATE_ID_PASSWORD_RESET=${{ vars.VITE_TEMPLATE_ID_PASSWORD_RESET }}" >> frontend/.env.production

    - name: Copy files to EC2
      uses: appleboy/scp-action@v0.1.7
      with:
        host: ${{ secrets.EC2_HOST }}
        username: ${{ secrets.EC2_USER }}
        key: ${{ secrets.EC2_SSH_KEY }}
        source: "."
        target: "/home/${{ secrets.EC2_USER }}/app"

    - name: SSH into EC2 and restart Docker
      uses: appleboy/ssh-action@v0.1.7
      with:
        host: ${{ secrets.EC2_HOST }}
        username: ${{ secrets.EC2_USER }}
        key: ${{ secrets.EC2_SSH_KEY }}
        script: |
          cd ~/app
          docker compose down
          docker compose -f docker-compose.yml -f docker-compose.prod.yml up -d --build
